* {
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #f1f1f3;
}