* {
<<<<<<< HEAD
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #f1f1f3;
=======
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	overflow: hidden;
>>>>>>> a25e99b5fa11235e4f7cdd8fef4c8db83b94502c
}