* {
  /*box-sizing: border-box;*/
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
  font-weight: 300;
  background-color: #fff;
}
h2, h3 {
  font-weight: 300;
  margin: 0;
}
h3 {
  font-weight: 400;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
}



paper-ripple {
  color: #9C27B0;
}
main paper-ripple{
  color: yellow;
  z-index: 2;
  height: 100%;
}
main a.mail{
  z-index: 3;
  position: relative;
}

#btn {
  color: #333333;
  text-transform: none;
}

#btn:hover {
}

#btn::shadow #ripple {
  color: #342202;
}
#ripple {
  color: #342202;
}

#head header {
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
}
#head header .logo{
  width: 100%;
  text-align: center;
}
#head header a{
  z-index: 2;
  position: relative;
}
#head header a img{
  position: relative;
  top: -10px;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-drag: none;
}
#head header ul{
  width: 100%;
  position: absolute ;
  top: 0;
  right: 5px ;
  bottom: auto;
  text-align: center;
  margin: 4.5rem 0 0;
  list-style: none;
  z-index: 2;
}
#head header ul li{
  display: inline-block;
  padding: 0 1rem;
}
#head header ul li a{
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}
#head header h5{
  text-align: center;
  font-size: 1.2rem;
  color: #333333;
  font-weight: 100;
  margin-top: 4rem;
}
#head .download{
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#head .download a{
  z-index: 2;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
#head .download .git{
  display: none;
  padding: 0 25px;
  margin-left: -4px;
  vertical-align: middle;
  line-height: 43px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: relative;
}
#head .download .git:before {
  content: '$';
  color: #fff;
  position: relative;
  left: -10px;
}
#head .download .git input{
  border: 0;
  outline: 0;
  width: 330px;
  color: #FFF;
  background: rgba(0, 0, 0, 0);
}

#download{
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  top: 0px;
  border-radius: 0;
  line-height: 27px;
  vertical-align: middle;
  text-transform: none;
}

main header p{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #333;
}
main header p a{
  text-decoration: none;
  font-weight: 400;
  color: #342202;
}

.download paper-button::shadow #content > span{
  margin-left: -1px;
  margin-right: 14px;
  color: #333;
}
.download paper-button::shadow #ripple {
  color: #342202;
}
#main{
  background: #FFF;
  color: #333;
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
}
#main section h1{
  width: 95%;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
#main section .row{
  margin: 0 auto;
  text-align: center;
}
#main section .row .rows{
  margin: 50px 2% 50px 0;
  float: left;
  text-align: center;
  width: 100%;
}

#feature{
  background: #D4C46D;
}
#feature section{
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
}
#feature section h2{
  border-bottom: 10px solid #333;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  color: #333;
}
#feature section ul{
  font-size: 1rem;
  list-style: circle;
  color: #333;
  font-weight: 300;
}
#feature section ul li{
  line-height: 1.5;
}
@media only screen and (min-width:320px) {
  #head header .logo{
    text-align: center;
  }
  #main section .row .rows{
    width: 100%;
  }
  #feature section h2{
    border-bottom: 10px solid #333;
    font-size: 1.2rem;
  }
  #feature section ul{
    font-size: 1rem;
  }
  #head .download .git{
    display: none;
  }
    #head header ul{
    width: 100%;
    text-align: center;
    margin: 4.5rem 0 0;
  }
  #head header h5{
    font-size: 1.2rem;
  }
}
@media only screen and (min-width:480px) {
  #head header .logo{
    text-align: center;
  }
  #main section .row .rows{
    width: 100%;
  }
  #feature section h2{
    border-bottom: 10px solid #333;
    font-size: 1.2rem;
  }
  #feature section ul{
    font-size: 1rem;
  }
  #head .download .git{
    display: none;
  }
  #head header ul{
    width: 100%;
    text-align: center;
    margin: 4.5rem 0 0;
  }
  #head header h5{
    font-size: 1.2rem;
  }
}
@media only screen and (min-width:768px) {
  #head header .logo{
    text-align: left;
  }
  #main section .row .rows{
    width: 31%;
  }
  #feature section h2{
    border-bottom: 16px solid #333;
    font-size: 2rem;
  }
  #feature section ul{
    font-size: 1.2rem;
  }
  #head .download .git{
    display: inline-block;
  }
  #head header ul{
    width: 70%;
    text-align: right;
    margin: 1rem 0 0;
  }
  #head header h5{
    font-size: 1.625rem;
  }
}
@media only screen and (min-width:1024px) {
  #head header .logo{
    text-align: left;
  }
  #main section .row .rows{
    width: 31%;
  }
  #feature section h2{
    border-bottom: 16px solid #333;
    font-size: 2rem;
  }
  #feature section ul{
    font-size: 1.2rem;
  }
  #head .download .git{
    display: inline-block;
  }
  #head header ul{
    width: 70%;
    text-align: right;
    margin: 1rem 0 0;
  }
  #head header h5{
    font-size: 1.625rem;
  }
}
@media only screen and (min-width:1140px) {
  #head header .logo{
    text-align: left;
  }
  #main section .row .rows{
    width: 31%;
  }
  #feature section h2{
    border-bottom: 16px solid #333;
    font-size: 2rem;
  }
  #feature section ul{
    font-size: 1.2rem;
  }
  #head .download .git{
    display: inline-block;
  }
  #head header ul{
    width: 70%;
    text-align: right;
    margin: 1rem 0 0;
  }
  #head header h5{
    font-size: 1.625rem;
  }
}
@media only screen and (min-width:1280px) {
  #head header .logo{
    text-align: left;
  }
  #main section .row .rows{
    width: 31%;
  }
  #feature section h2{
    border-bottom: 16px solid #333;
    font-size: 2rem;
  }
  #feature section ul{
    font-size: 1.2rem;
  }
  #head .download .git{
    display: inline-block;
  }
  #head header ul{
    width: 70%;
    text-align: right;
    margin: 1rem 0 0;
  }
  #head header h5{
    font-size: 1.625rem;
  }
}