.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%;
  background: -webkit-radial-gradient(center, ellipse, #F7F6F0 0, #c2ba8c 80%, #b0a66b 100%);
  background: radial-gradient(ellipse at center, #F7F6F0 0, #c2ba8c 80%, #b0a66b 100%); }

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
  -webkit-transition: all 0.4s 0.3s ease-in;
          transition: all 0.4s 0.3s ease-in; }

body, html {
  min-height: 100vh;
  overflow: hidden; }

.logo {
  margin: -58px 0 0 -100px;
  position: absolute;
  top: 50%;
  left: 50%; }

.nav ul {
  list-style: none; }

@font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'), url('../fonts/font-name.woff') format('woff'), url('../fonts/font-name.ttf') format('truetype'), url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media only screen and (min-width: 320px) { }

@media only screen and (min-width: 480px) { }

@media only screen and (min-width: 768px) { }

@media only screen and (min-width: 1024px) { }

@media only screen and (min-width: 1140px) { }

@media only screen and (min-width: 1280px) { }

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { }

@media print {
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }
